.reader_editprofile {
  width: 69%;
  min-height: 790px;
  background-color: rgba(217, 217, 217, 0.49);
  margin: 20px 0;
  padding: 50px 30px;
}

.reader_editprofile_img{
    height: 160px;
    width: 160px;
    margin: auto;
}

.reader_editprofile_img img {
  width: 154px;
  height: 154px;
  border-radius: 154px;
  object-fit: cover;
}

.reader_editprofile_content{
    padding: 10px 40px;
}
