* {
  font-family: "Poppins", sans-serif;
}

.reader_forgot {
  padding: 20px 0;
}

.reader_forgot_col2 {
  width: 35%;
  height: 400px;
  /* background-color: antiquewhite; */
  /* margin-top: 40px; */
  margin: auto;
  padding-top: 40px;
}

.reader_forgot_para1 {
  text-align: center;
  color: #110422;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  align-items: center;
}
.reader_forgot_para2 {
  color: #110422;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}

.reader_forgot_input input {
  width: 430px;
  height: 49px;
  border-radius: 7px;
  background: #e2e7e6;
  border: none;
}

.reader_forgot_input button {
  width: 430px;
  height: 49px;
}

.reader_forgot_input input[type="email"] {
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  /* text-transform: capitalize; */
}

::placeholder {
  color: #110422;
  opacity: 1; 
}
